.version.zab /* version checker */
{
	color: #00001E;
	background-color: #774743;
}

@-ms-viewport
{
	width: 750px;
}

@-webkit-viewport
{
	width: 750px;
}

@-o-viewport
{
	width: 750px;
}

@-moz-viewport
{
	width: 750px;
}

@viewport
{
	width: 750px;
}

#page
{
	z-index: 1;
	width: 750px;
	min-height: 425px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F6DF46;
	padding-bottom: 905px;
}

#pu501
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 20px;
}

#u501
{
	z-index: 2;
	width: 100px;
	background-color: transparent;
	position: relative;
}

#u446
{
	z-index: 3;
	width: 100px;
	background-color: transparent;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
}

#widgetu484
{
	z-index: 9;
	width: 0.01px;
	height: 266px;
	margin-left: 15px;
	margin-top: 46px;
	position: relative;
}

#widgetu485
{
	z-index: 10;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu485.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u488-5
{
	z-index: 11;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u486-5
{
	z-index: 16;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu485.non-empty-st #u486-5
{
	background-color: #FFFFFF;
}

#widgetu485:hover #u486-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu485.focus-st #u486-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu485.non-empty-st #u486-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu485:hover #u486-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu485.focus-st #u486-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu489
{
	z-index: 21;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu489.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u490-5
{
	z-index: 22;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu489.fld-err-st #u490-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u491-5
{
	z-index: 27;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu489.non-empty-st #u491-5
{
	background-color: #FFFFFF;
}

#widgetu489:hover #u491-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu489.focus-st #u491-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu485.fld-err-st #u486-5,#widgetu489.fld-err-st #u491-5
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu489.non-empty-st #u491-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu489:hover #u491-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu489.focus-st #u491-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu485_input,#widgetu485_prompt,#widgetu489_input,#widgetu489_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#u493-5
{
	z-index: 32;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu484.frm-sub-st #u493-5 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u499-5
{
	z-index: 37;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu484.frm-subm-err-st #u499-5 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u494-5
{
	z-index: 42;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu484.frm-sub-st #u493-5,#widgetu484.frm-subm-err-st #u499-5,#widgetu484.frm-subm-ok-st #u494-5
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu484.frm-subm-ok-st #u494-5 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u500-21
{
	z-index: 47;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	background: url("../images/u500-21.png") no-repeat 0px 0px;
}

#u500-21:hover
{
	background: url("../images/u500-21-r.png") no-repeat 0px 0px;
}

#u500-21:active
{
	background: url("../images/u500-21-m.png") no-repeat 0px 0px;
}

#widgetu484.frm-sub-st #u500-21
{
	background: url("../images/u500-21-fs.png") no-repeat 0px 0px;
}

#widgetu495
{
	z-index: 68;
	width: 342px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu495.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u498-5
{
	z-index: 69;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu485.fld-err-st #u488-5,#widgetu495.fld-err-st #u498-5
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu485.fld-err-st #u488-5 p,#widgetu485.fld-err-st #u488-5 span,#widgetu489.fld-err-st #u490-5 p,#widgetu489.fld-err-st #u490-5 span,#widgetu495.fld-err-st #u498-5 p,#widgetu495.fld-err-st #u498-5 span
{
	color: #D7244C;
}

#u496-5
{
	z-index: 74;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu495.non-empty-st #u496-5
{
	background-color: #FFFFFF;
}

#widgetu495:hover #u496-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu495.focus-st #u496-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu495.fld-err-st #u496-5
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu495.non-empty-st #u496-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu495:hover #u496-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu495.focus-st #u496-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu485.fld-err-st #u486-5 *,#widgetu489.fld-err-st #u491-5 *,#widgetu495.fld-err-st #u496-5 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu495_input,#widgetu495_prompt
{
	width: 328px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu485.focus-st #widgetu485_prompt,#widgetu489.focus-st #widgetu489_prompt,#widgetu495.focus-st #widgetu495_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu485:hover #widgetu485_input,#widgetu485.focus-st #widgetu485_input,#widgetu485.fld-err-st #widgetu485_input,#widgetu485:hover #widgetu485_prompt,#widgetu485.fld-err-st #widgetu485_prompt,#widgetu489:hover #widgetu489_input,#widgetu489.focus-st #widgetu489_input,#widgetu489.fld-err-st #widgetu489_input,#widgetu489:hover #widgetu489_prompt,#widgetu489.fld-err-st #widgetu489_prompt,#widgetu495:hover #widgetu495_input,#widgetu495.focus-st #widgetu495_input,#widgetu495.fld-err-st #widgetu495_input,#widgetu495:hover #widgetu495_prompt,#widgetu495.fld-err-st #widgetu495_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu485.non-empty-st #widgetu485_prompt,#widgetu489.non-empty-st #widgetu489_prompt,#widgetu495.non-empty-st #widgetu495_prompt
{
	visibility: hidden;
}

#u449-4
{
	z-index: 5;
	width: 452px;
	min-height: 85px;
	background-color: transparent;
	line-height: 72px;
	font-size: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 149px;
}

body
{
	position: relative;
	min-width: 750px;
}

#page .verticalspacer
{
	clear: both;
}

